<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Waste Wise</title>
  <meta name="description" content="A free responsive website template made exclusively for Frittt by Themesforce and Sarfraz Shaukat">
  <meta name="keywords" content="website template, css3, one page, bootstrap, app template, web app, start-up">
  <meta name="author" content="Themesforce and Sarfraz Shaukat for Frittt">
  <link rel="icon" type="image/png" href="favicons/favicon-16x16.png" sizes="16x16">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="fonts/font-awesome-4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/all.css">
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700|Source+Sans+Pro:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
</head>
<body>
<div id="wrapper">
    <header id="header">
      <div class="container">

        <nav id="nav">
          <div class="opener-holder">
            <a href="#" class="nav-opener"><span></span></a>
          </div>
          <a href="javascript:" class="btn btn-primary rounded">Compete With Your Friends Today</a>
          <div class="nav-drop">
            <ul>
              <li class="active visible-sm visible-xs"><a href="#">Home</a></li>
              <li><a href="/home">My Contributions</a></li>
              <li><a href="#">WasteBin Scoreboard</a></li>
              <li><a href="#">Inspiration</a></li>
              <li><a href="#">About Us</a></li>
            </ul>
            <div class="drop-holder visible-sm visible-xs">
              <span>Follow Us</span>
              <ul class="social-networks">
                <li><a class="fa fa-github" href="#"></a></li>
                <li><a class="fa fa-twitter" href="#"></a></li>
                <li><a class="fa fa-facebook" href="#"></a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
  <section class="visual">
    <div class="container">
      <div class="text-block">
        <div class="heading-holder">
          <h1 >Waste Wise</h1>
        </div>
        <p class="tagline">Welcome back, Viviana. </p>
				<p class="tagline">Change your life now.</p>
				<p class="tagline">To change the world forever.</p>

      </div>
    </div>
    <img src="https://ak8.picdn.net/shutterstock/videos/10294448/thumb/1.jpg " height="970"width="1450"alt="" class="bg-stretch">
  </section>
  <section class="main">
    <div class="container">
      <div id="cta">
        <a href="javascript:" class="btn btn-primary rounded">----</a>
        <p>  </p>
      </div>
      <div class="row">
        <div class="text-box col-md-offset-1 col-md-10">
          <h2>Enviornmentally Friendly Projects</h2>
          <p> View some inspiration on how to be Enviornmentally Friendly!</p>
        </div>
      </div>
    </div>
  </section>
  <section class="area">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <ul class="visual-list">
            <li>
              <div class="img-holder">
                <a href="https://www.epa.gov/recycle/composting-home"><img src="https://cdn3.iconfinder.com/data/icons/frigicon/100/icon_yuluck-01-512.png" width="110" alt="">
              </div>
              <div class="text-holder">
                <h3>Composting at home</h3>
                <p> Click here for information about how to start composting at home!</p>
              </div>
            </li>
            <li>
              <div class="img-holder">
                <a href = "https://www.livestrong.com/article/157176-products-that-cannot-be-recycled/"> <img class="pull-left" src="https://cdn3.iconfinder.com/data/icons/packaging-items-outline/512/as461b_10-512.png" width="110" alt="">
              </div>
              <div class="text-holder">
                <h3>Stray away from using plastic</h3>
                <p> Do you know your plastics? Click here for more information on which ones you can recycle.</p>
								</a>
              </div>
            </li>
            <li>
              <div class="img-holder">
                  <a href="https://www.homesciencetools.com/article/how-to-build-a-solar-oven-project/"><img src="https://cdn0.iconfinder.com/data/icons/thin-food-cooking/24/thin-0892_cooking_oven_kitchen_appliances-512.png" height="84" alt="">
              </div>
							<div class="text-holder">
                <h3>Solar Oven </h3>
                <p>Click here for easy step by step instructions on how to create your very own solar oven! </p></a>
              </div>
            </li>
            <li>
              <div class="img-holder">
							<a href	= "https://www.carbonfootprint.com/">  <img src="https://cdn3.iconfinder.com/data/icons/glypho-signs/64/user-biking-512.png" height="71" alt="">
              </div>
              <div class="text-holder">
                <h3>Carbon Footprint</h3>
                <p>How can you help reduce your carbon footprint? Click here for more information. </p>
							</a>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-md-7">
          <div class="slide-holder">
            <div class="img-slide scroll-trigger"><img src="https://media.gettyimages.com/videos/environmental-issue-underwater-plastic-pollution-in-the-ocean-video-id1032423428?s=640x640" height="540" width="684" alt=""></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="visual-container">
    <div class="visual-area">
      <div class="container">
        <h2>How are your friends and community doing?</h2>
        <h3>View the weekly scoreboard</h3>
        <ul class="testimonials">
          <li>
            <div class="img-holder"><a href="#"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1xgjkcLkDaxmTRQYXHIxjcK62lvuFuZ_iIdAnVG7tJ_BfwKRKOQ " height="180" width="300" alt=""></a></div>
            <h1><em> 1st Place  |  116 points </em></h1>
          </li>
          <li>
            <div class="img-holder"><a href="#"><img src="https://s16815.pcdn.co/wp-content/uploads/2017/06/iStock-609683672-studying.jpg" height="180" width="300" alt=""></a></div>
            <h1><em> 2nd Place  |  113 points </em></h1>
          </li>
          <li>
            <div class="img-holder"><a href="#"><img src="https://www.auto.edu/wp-content/uploads/2014/12/ati-student-housing.jpg " height="170" width="280" alt=""></a></div>
            <h1><em> 3rd Place  |  92 points </em></h1>
          </li>

          <li>
            <div class="img-holder"><a href="#"><img src="http://lehman.edu/news/images/Forbes-Magazine-Ranks-Lehman-Student-Debt-Among-Lowest-in-the-US.jpg" height="170" width="216" alt=""></a></div>
            <h1><em> 4th Place  |  74 points </em></h1>
          </li>
        </ul>
      </div>
    </div>
  </section>




  <footer id="footer">
    <div class="container">
      <div class="footer-holder">
        <div class="row  text-center">
          <div class="col-md-12">


        </div>
                <div class="row">
                  <div id="cta" class="cta-footer">
                    <h2>  About Us </h2>
                        <p>
Are you ready to be the next superhero in your town? WasteWise is a website where you compete with your friends and neighbors to save the environment! There is a point system that keeps track of how many conscious wise choices you make to be environmentally friendly. Categories include recycling plastics, cans, or glass, composting your food waste, creating your own ecological projects and more.
Think you have what it takes? We challenge you to do your best for your home town!
</p>
                    </div>
                </div>

      </div>
    </div>
  </footer>
</div>
<script src="js/jquery-1.11.2.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/jquery.main.js"></script>
</body>
</html>
